<style type="text/css">
  html{ 
    background: url("../../backdrop.png");
    opacity: 1; 
    margin:0; padding:10%; height:100%; 
  }
</style>
<div>
  <br><br>
  <h1 align='center'>New Main Switch</h1>

  <%= render 'form', main_switch: @main_switch %>
  <br><br>
</div>